# Dependencies
node_modules/
*/node_modules/

# Production / Distribution builds
Dist/
dist/
build/
*.dmg
*.zip
Application/service/elekbrowser/

# Logs
*.log
Browser.log
cameralog.txt
log.txt
updatelog.txt
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS artifacts
.DS_Store
Thumbs.db

# Backup files
*.bak
